/*---------------*/
/* footer
/*---------------*/
.footer{
  background: #525252;
  height: 50px;
  .copyright{
    text-align: center;
    color: #fff;
    font-size: 10px;
    line-height: 50px;
  }

}